.git
.gitignore
.github

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.venv/

logs/
*.log

# JavaScript/Node.js
site/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

Dockerfile
docker-compose*.yml
.dockerignore

.idea/
.vscode/
*.swp
*.swo
.DS_Store

docs/
README.md
LICENSE
.env.template

dist/
build/
*.egg-info/

contribute/
site/