DISCORD_TOKEN=
DISCORD_APPLICATION_ID==
DISCORD_PUBLIC_ID=
DISCORD_IMAGE

COUCHBASE_USERNAME=
COUCHBASE_PASSWORD=
COUCHBASE_BUCKET_NAME=
COUCHBASE_COLLECTION=
COUCHBASE_SCOPE=

TAG_EXPIRATION=

COUCHBASE_CONNECTION=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_SSL=