# Discord Config
DISCORD_TOKEN=
DISCORD_APPLICATION_ID==
DISCORD_PUBLIC_ID=
DISCORD_IMAGE

# Couchbase Config
COUCHBASE_USERNAME=
COUCHBASE_PASSWORD=
COUCHBASE_BUCKET_NAME=
COUCHBASE_COLLECTION=
COUCHBASE_SCOPE=
COUCHBASE_CONNECTION=

# Redis Config
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_SSL=
TAG_EXPIRATION=
